---
import Header from "../components/Header.astro";
import type { PluginFrontMatter } from "../lib/types";
import "../styles/main.css";

const { frontmatter } = Astro.props as { frontmatter: PluginFrontMatter };
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A library of Fastify plugin code examples."
    />
    <title>Fastify Plugin Examples</title>
  </head>
  <body>
    <Header />
    <main class="mx-10 lg:mx-24 min-h-screen flex flex-col gap-8 mb-20">
      <h2>{frontmatter.name} Plugin</h2>
      {
        frontmatter.usedPlugins && (
          <div class="font-semibold text-xl">
            Using plugin libraries: {frontmatter.usedPlugins.join(", ")}
          </div>
        )
      }
      <slot />
    </main>
  </body>
</html>
